@model MovieViewModel

<div class="container">
    <ul class="nav marginbottom25">
        <h2>
            @Model.Title (@Model.ProductionYear)
            @if (!double.IsNaN(Model.AverageScore))
            {
                <img src="~/images/star.png" class="marginleft25" width="33" height="33" /> @Model.AverageScore
            }</h2>
        <h3 class="marginbottom25">
            @foreach (var genre in Model.Genres)
            {
                @genre.GenreName;
                if (Model.Genres.Count() > 1 && genre != Model.Genres.Last())
                {
                    <span> |</span>
                }
            }
        </h3>
        <h4 class="underline">Director</h4>
        <li>@Model.Director.Name</li>
        <h4 class="underline">Actors</h4>
        @foreach (var actor in Model.Actors)
        {
            <li>@actor.Name</li>
        }
    </ul>

    <h4 class="underline">Ratings</h4>
    @foreach (var rating in Model.Ratings)
    {
        <table class="reviewendmargin">
            <tr>
                <td>
                    <h5 class="underline">
                        <b>@rating.ReviewerName</b>
                    </h5>
                </td>
            </tr>
            <tr>
                <td>@rating.ReviewDate.ToString("yyyy-MM-dd")</td>
                <td>Rating: @rating.Score/10</td>
            </tr>
            <tr>
                <td colspan="2">@rating.Review</td>
            </tr>
        </table>
    }
</div>